.sidebar_container {
  height: 100%;
  width: 15vw;
  position: fixed;
  top: 5vmax;
  left: 0;
  padding: 2vmax 0;
  box-shadow: 0px 2px 10px $text-color-lighter-gray;

  > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1vmax;
    font-size: 1.2rem;

    .active {
      background-color: $bg-color-dark-blue;
      color: $text-color-white;
    }

    a {
      font-weight: 600;
      text-transform: uppercase;
      padding: 1vmax;
      border: 2px solid transparent;
      transition: all 200ms ease-in-out;

      &:hover {
        border: 2px solid $bg-color-dark-blue;
      }
    }
  }
}
